<img src="left-arrow.png" class="back-arrow" (click)="goBack()" alt="Back">


<ng-container *ngIf="set404">
    <h2>404 Tool Not Found</h2>
    <p class="no-plant">
        We don't have any data regarding this tool. Take a look at our
        <a href="tool-index">index</a>
        to see what we are tracking.
    </p>
</ng-container>

<ng-container *ngIf="!set404">
    <h2>{{currTool.name}}</h2>
    <h3>{{currTool.brand}}</h3>
    <div class="flex">
        <div class="description" [innerHTML]="currTool.description"></div>
        <div class="image-flex">
            <img src="{{currTool.image}}" class="image">
            <div class="buttons">
                <app-amazon-button [amazonLink]="currTool.amazonLink"></app-amazon-button>
                <app-home-depot-button [homeDepotLink]="currTool.homeDepotLink"></app-home-depot-button>
                <app-home-hardware-button [homeHardwareLink]="currTool.homeHardwareLink"></app-home-hardware-button>
                <app-lowes-button [lowesLink]="currTool.lowesLink"></app-lowes-button>
                <app-walmart-button [walmartLink]="currTool.walmartLink"></app-walmart-button>
            </div>
        </div>
    </div>
</ng-container>