<img src="left-arrow.png" class="back-arrow" tabindex="0" (click)="goBack()" (keyup.enter)="goBack()" alt="Back">

<ng-container *ngIf="set404">
    <h2>404 Insecticide Not Found</h2>
    <p class="no-insecticide">
        We don't have any data regarding this insecticide. Take a look at our
        <a href="insecticide-index">index</a>
        to see what we are tracking.
    </p>
</ng-container>

<ng-container *ngIf="!set404">
    <h2>{{currInsecticide.name}}</h2>
    <h3>{{currInsecticide.chemical}}</h3>
    <div class="flex">
        <div class="description" [innerHTML]="currInsecticide.description"></div>
        <img src="{{currInsecticide.image}}" class="image">
        <div class="buttons">
            <app-amazon-button [amazonLink]="currInsecticide.amazonLink"></app-amazon-button>
            <app-canadian-tire-button [canadianTireLink]="currInsecticide.canadianTireLink"></app-canadian-tire-button>
            <app-home-depot-button [homeDepotLink]="currInsecticide.homeDepotLink"></app-home-depot-button>
            <app-home-hardware-button [homeHardwareLink]="currInsecticide.homeHardwareLink"></app-home-hardware-button>
            <app-lowes-button [lowesLink]="currInsecticide.lowesLink"></app-lowes-button>
            <app-rona-button [ronaLink]="currInsecticide.ronaLink"></app-rona-button>
            <app-walmart-button [walmartLink]="currInsecticide.walmartLink"></app-walmart-button>
        </div>
    </div>

    <cdk-accordion class="example-accordion">
        @for (title of accordionTitles; track title; let index = $index) {
        <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item">
            <button class="example-accordion-item-header" (click)="accordionItem.toggle()" tabindex="0"
                [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index">
                {{ title }}
                <span class="example-accordion-item-description">
                    Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                </span>
            </button>
            @if(accordionItem.expanded) {
            <div class="example-accordion-item-body" role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                {{ currInsecticide[title.toLowerCase()] || 'No data available' }}
            </div>
            }
        </cdk-accordion-item>
        }
    </cdk-accordion>
</ng-container>