<div class="parent">
    <h2>Contact Us</h2>
    <p>Feel free to reach out to discuss any issues you're having with your lawn or our website.</p>
    <div class="flex">
        <div class="box">
            <img src="email.png" />
            <h3>Email Us</h3>
            <p>Click here to send us an email outlining your concerns.</p>
            <button (click)="onClick('email')">Email us</button>
        </div>
        <div class="box">
            <img src="text.png" />
            <h3>Text Us</h3>
            <p>Click here to send us a text regarding your issue, include pictures if you'd like.</p>
            <button>Text us</button>
        </div>
        <div class="box">
            <img src="call.png" />
            <h3>Call Us</h3>
            <p>Click here to give us a call and describe your problem.</p>
            <button>Call us</button>
        </div>
    </div>
    <p>We would love to help you identify your problem and find a solution that will work for you.</p>
</div>