h2,
h3 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #808080;
}

.image {
    width: 250px;
    height: 350px;
    border: solid 1px black;
}

p {
    margin-top: 0px;
    margin-left: 15px;
    width: 60%;
}

.no-plant {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



.example-accordion {
    display: block;
    max-width: 500px;
}

.example-accordion-item {
    display: block;
    border: solid 1px #ccc;
}

.example-accordion-item+.example-accordion-item {
    border-top: none;
}

.example-accordion-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: none;
    padding: 16px;
    text-align: left;

}

.example-accordion-item-description {
    font-size: 0.85em;
    color: #999;
}

.example-accordion-item-body {
    padding: 16px;
}

.example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
}

.example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}