h2,
h3 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #808080;
}

.image {
    width: 250px;
    height: 350px;
    border: solid 1px black;
}

p {
    margin-top: 0px;
    margin-left: 15px;
    width: 60%;
}

.no-plant {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}