<ng-container *ngIf="!set404">
    <h2>{{currPlant.name}}</h2>
    <h3>({{currPlant.taxonomy}})</h3>
    <div class="flex">
        <img src="{{currPlant.image}}" class="image">
        <p>{{currPlant.description}}
        </p>
    </div>
</ng-container>

<ng-container *ngIf="set404">
    <h2>404 Plant Not Found</h2>
    <p class="no-plant">
        We don't have any data regarding this plant. Take a look at our
        <a href="index">index</a>
        to see what we are tracking.
    </p>
</ng-container>