<ng-container *ngFor="let insecticide of insecticides">
    <div class="card" (click)="onCardClick(insecticide)" (keyup.enter)="onCardClick(insecticide)" tabindex="0">
        <img src="{{ insecticide.image }}" aria-label="" alt="Image of {{ insecticide.name }}"
            class="insecticide-image" />

        <div>
            <h2>{{ insecticide.name }}</h2>
            <h3>{{ insecticide.chemical }}</h3>
            <div class="description" [innerHTML]="insecticide.description"></div>
        </div>
    </div>
    <ng-container *ngIf="!isLast(insecticide)">
        <hr>
    </ng-container>
</ng-container>