<div class="header-flex">
    <h2>Sitemap</h2>
    <button (click)="onClick()">View XML</button>
</div>
<div class="link-container">
    <div class="column-1">
        <div class="about">
            <h3><a href="/about">About</a></h3>
        </div>
        <div class="contact-us">
            <h3><a href="/contact">Contact Us</a></h3>
        </div>
        <div class="herbicides">
            <h3><a href="/herbicides">Herbicides</a></h3>
            <p><a href="/herbicide/bayer-advanced-all-in-one">Bayer Advanced All-in-One</a></p>
            <p><a href="/herbicide/dow-scythe">Dow Scythe</a></p>
            <p><a href="/herbicide/gordons-trimec">Gordon's Trimec</a></p>
            <p><a href="/herbicide/green-earth-weed-control">Green Earth Weed Control</a></p>
            <p><a href="/herbicide/loveland-par-iii">Loveland Par III</a></p>
            <p><a href="/herbicide/neudorff-fiesta">Neudorff Fiesta</a></p>
            <p><a href="/herbicide/ortho-killex">Ortho Killex</a></p>
            <p><a href="/herbicide/roundup">Roundup</a></p>
            <p><a href="/herbicide/roundup-advanced-herbicidal-soap">Roundup Advanced Herbicidal Soap</a></p>
            <p><a href="/herbicide/safers-topgun-weed-killer">Safer's TopGun Weed Killer</a></p>
            <p><a href="/herbicide/scotts-weed-b-gon-max">Scotts Weed-B-Gon MAX</a></p>
            <p><a href="/herbicide/spectracide-weed-stop">Spectracide Weed Stop</a></p>
            <p><a href="/herbicide/totalex-grass-and-weed-killer">Totalex Grass and Weed Killer</a></p>
            <p><a href="/herbicide/wilson-weed-out">Wilson Weed Out</a></p>
        </div>
        <div class="home">
            <h3><a href="/home">Home</a></h3>
        </div>
        <div class="insecticides">
            <h3><a href="/insecticides">Insecticides</a></h3>
            <p><a href="/insecticide/bayer-advanced-complete">Bayer Advanced Complete</a></p>
            <p><a href="/insecticide/bonide-insecticidal-soap">Bonide Insecticidal Soap</a></p>
            <p><a href="/insecticide/bonide-pyrethrin-garden-insect-spray">Bonide Pyrethrin Garden Insect Spray</a></p>
            <p><a href="/insecticide/doktor-doom-premium-3-in-1-crop-plant-rescue">Doktor Doom Premium 3-in-1 Crop &
                    Plant Rescue</a></p>
            <p><a href="/insecticide/doktor-doom-premium-insecticidal-soap-concentrate">Doktor Doom Premium Insecticidal
                    Soap</a></p>
            <p><a href="/insecticide/green-earth-horticultural-oil">Green Earth Horticultural Oil Insect Spray</a></p>
            <p><a href="/insecticide/loveland-lagon">Loveland Lagon</a></p>
            <p><a href="/insecticide/onguard-pro-perm">OnGuard Pro-Perm</a></p>
            <p><a href="/insecticide/onguard-professional-p-22-rtu">OnGuard Professional P-22-RTU</a></p>
            <p><a href="/insecticide/ortho-ant-b-gon-max">Ortho Ant B Gon MAX</a></p>
            <p><a href="/insecticide/ortho-bug-b-gon-eco">Ortho Bug B Gon ECO</a></p>
            <p><a href="/insecticide/ortho-home-defense">Ortho Home Defense</a></p>
            <p><a href="/insecticide/ortho-slug-b-gon-eco">Ortho Slug B Gon ECO</a></p>
            <p><a href="/insecticide/puroguard-the-exterminator-professional-py-42">Puroguard The Exterminator
                    Professional PY-42</a></p>
            <p><a href="/insecticide/safers-3-in-1">Safer's 3-in-1</a></p>
            <p><a href="/insecticide/safers-end-all">Safer's End All</a></p>
            <p><a href="/insecticide/safers-insecticidal-soap">Safer's Insecticidal Soap</a></p>
            <p><a href="/insecticide/safers-slug-snail-killer">Safer's Slug & Snail Killer</a></p>
            <p><a href="/insecticide/safers-trounce-yard-garden">Safer's Trounce Yard & Garden</a></p>
            <p><a href="/insecticide/scotts-grub-b-gon-max">Scotts Grub B Gon MAX</a></p>
            <p><a href="/insecticide/superior-control-products-spider-insect-destroyer">Superior Control Products Spider
                    Insect Destroyer</a></p>
            <p><a href="/insecticide/wilson-ant-out">Wilson Ant Out</a></p>
            <p><a href="/insecticide/wilson-bug-x-out">Wilson Bug-X Out</a></p>
            <p><a href="/insecticide/wilson-bug-x-out-soap">Wilson Bug-X Out Soap</a></p>
            <p><a href="/insecticide/wilson-crawl-out">Wilson Crawl Out</a></p>
            <p><a href="/insecticide/wilson-grub-out">Wilson Grub Out</a></p>
        </div>
    </div>
    <div class="column-2">
        <div class="insects">
            <h3><a href="/insects">Insects</a></h3>
            <p><a href="/insect/ant">Ant</a></p>
            <p><a href="/insect/aphid">Aphid</a></p>
            <p><a href="/insect/armyworm">Armyworm</a></p>
            <p><a href="/insect/billbug">Billbug</a></p>
            <p><a href="/insect/chinch-bug">Chinch Bug</a></p>
            <p><a href="/insect/cutworm">Cutworm</a></p>
            <p><a href="/insect/earwig">Earwig</a></p>
            <p><a href="/insect/japanese-beetle">Japanese Beetle</a></p>
            <p><a href="/insect/leafhopper">Leafhopper</a></p>
            <p><a href="/insect/leatherjacket">Leatherjacket</a></p>
            <p><a href="/insect/mole-cricket">Mole Cricket</a></p>
            <p><a href="/insect/sod-webworm">Sod Webworm</a></p>
            <p><a href="/insect/spider-mite">Spider Mite</a></p>
            <p><a href="/insect/turfgrass-scale">Turfgrass Scale</a></p>
        </div>
        <div class="maintenance">
            <h3><a href="/maintenance">Maintenance</a></h3>
        </div>
        <div class="plants">
            <h3><a href="/plants">Plants</a></h3>
            <p><a href="/plant/broadleaf-plantain">Broadleaf Plantain</a></p>
            <p><a href="/plant/common-cinquefoil">Common Cinquefoil</a></p>
            <p><a href="/plant/common-dandelion">Common Dandelion</a></p>
            <p><a href="/plant/common-selfheal">Common Selfheal</a></p>
            <p><a href="/plant/common-yarrow">Common Yarrow</a></p>
            <p><a href="/plant/corn-speedwell">Corn Speedwell</a></p>
            <p><a href="/plant/field-horsetail">Field Horsetail</a></p>
            <p><a href="/plant/garden-sorrel">Garden Sorrel</a></p>
            <p><a href="/plant/hedge-bedstraw">Hedge Bedstraw</a></p>
            <p><a href="/plant/hoary-alyssum">Hoary Alyssum</a></p>
            <p><a href="/plant/horseweed">Horseweed</a></p>
            <p><a href="/plant/orange-hawkweed">Orange Hawkweed</a></p>
            <p><a href="/plant/prarie-agoseris">Prarie Agoseris</a></p>
            <p><a href="/plant/red-clover">Red Clover</a></p>
            <p><a href="/plant/ribwort-plantain">Ribwort Plantain</a></p>
            <p><a href="/plant/rough-hawkbit">Rough Hawkbit</a></p>
            <p><a href="/plant/silver-cinquefoil">Silver Cinquefoil</a></p>
            <p><a href="/plant/vipers-bugloss">Viper's Bugloss</a></p>
            <p><a href="/plant/white-clover">White Clover</a></p>
            <p><a href="/plant/wild-strawberry">Wild Strawberry</a></p>
        </div>
        <div class="tools">
            <h3><a href="/tools">Tools</a></h3>
            <p><a href="/tool/pump-pressured-backpack-sprayer">Battery Powered Backpack Sprayer (3.2 gallon)</a></p>
            <p><a href="/tool/sun-joe-dethatcher">Battery Powered Dethatcher & Scarifier (15 inch)</a></p>
            <p><a href="/tool/greenworks-dethatcher">Corded Dethatcher & Scarifier (14 inch)</a></p>
            <p><a href="/tool/long-handle-weed-remover">Long Handle Weed Remover (43.7 inch)</a></p>
            <p><a href="/tool/pump-pressured-backpack-sprayer">Pump Pressured Backpack Sprayer (4 gallon)</a></p>
            <p><a href="/tool/mini-broadcast-spreader">Turf Builder Edgeguard Mini Broadcast Spreader (5,000 sq.ft)</a>
            </p>
            <p><a href="/tool/pro-broadcast-spreader">Turf Builder Edgeguard Pro Broadcast Spreader (18,000 sq.ft)</a>
            </p>
            <p><a href="/tool/weeding-tool-with-4-claws">Weeding Tool with 4 Claws (39 inch)</a></p>
        </div>
    </div>
</div>