.header-flex {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 0px;
}

button {
    height: 20px;
}

button:hover {
    cursor: pointer;
}

.link-container {
    display: grid;
    grid-template-columns: auto auto;
}

h3 {
    margin: 5px;
    font-size: 12pt;
}

p {
    margin: 0px 0px 0px 10px;
    font-size: 10pt;
}

@media screen and (max-width: 600px) {
    .header-flex {
        margin-top: 10px;
    }

    h2 {
        margin-left: 5px;
        font-size: 44pt;
    }

    button {
        height: 65px;
        font-size: 28pt;
    }

    h3 {
        font-size: 28pt;
    }

    p {
        font-size: 22pt;
        margin: 0px 0px 0px 15px;
    }
}