.content {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 2;
}

.header {
    height: 6cqw;
    padding: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    background-color: rgba(0, 155, 58, .7);
}

.margin {
    width: 3rem;
    flex-basis: 10%;
    box-sizing: border-box;
    background-color: #eeeeee;
}

.main {
    width: 79%;
    margin: 1%;
}

router-outlet {
    text-align: center;
    background-color: #fafafa;
}


.footer {
    min-height: 2.25rem;
    border-top: 1px solid rgba(255, 255, 255, .4);
    background-color: rgba(254, 209, 0, .7);
}

@media screen and (max-width: 1000px) {
    .header {
        height: 60px;
    }

}

@media screen and (max-width: 600px) {
    .header {
        height: 110px;
    }

    .margin {
        display: none;
    }

    .main {
        width: 98.75%;
        margin: 0%;
    }

    .footer {
        min-height: none;
        padding-bottom: 5px;
        display: none;
    }

}