.flex-parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.copyright {
    margin: 10px 10px 0px 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 5px 10px 0px 10px;
    padding: 5px 5px 4px 5px;

}

.item:hover,
.item:focus {
    color: blue;
    cursor: pointer;
}

.vl {
    margin-top: 6px;
    border-left: 1px solid black;
    height: 25px;
}


@media screen and (max-width: 1000px) {

    .copyright,
    .item {
        font-size: 20pt;
    }

    .vl {
        margin-top: 10px;
        height: 30px;
    }
}