<div class="container">
    <ng-container *ngFor="let insect of insects">
        <div class="card" (click)="onCardClick(insect)" (keyup.enter)="onCardClick(insect)" tabindex="0">
            <div class="img-div">
                <img src="{{ insect.image }}" alt="{{ insect.name }}" class="insect-image" />
            </div>
            <div class="flex">
                <h2>{{ insect.name }}</h2>
                <h3>{{ insect.taxonomy }}</h3>
                <div class="description" [innerHTML]="insect.description"></div>
            </div>
        </div>
        <ng-container *ngIf="!isLast(insect)">
            <hr>
        </ng-container>
    </ng-container>
</div>