.header {
    background-color: yellow;
    margin-top: -1.28%;
    margin-left: -1.28%;
    margin-right: -1.28%;
    margin-bottom: 0px;
    padding: 5px;
}

.slogan {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner {
    margin-top: 0px;
    margin-left: -1.28%;
    margin-right: -1.28%;
    margin-bottom: 10px;
    width: auto;
    height: 20cqw;
    background: url(../../../public/banner.webp) no-repeat center center;
    top: 0;
    background-size: cover;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-left: -1%;
    margin-right: -1%;
}

.button {
    background-color: aqua;
    height: 11.8cqw;
    width: 11.8cqw;
    margin: 5px;
    transition: background 0.2s ease-in-out;
    max-height: 300px;
    max-width: 300px;
}

.button-text {
    margin: 0px;
    text-align: center;
    font-size: 1.8cqw;
    line-height: 11.8cqw;
    color: white;
    font-weight: 500;
}

.social-header {
    text-align: center;
    margin-top: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-basis: 99%;
}

.logo {
    width: 4cqw;
    height: 4cqw;
    margin: 0 10px;
}

/* Regular opacity is 85, Hover opacity is 70, Hex is #126832  */

.plants {
    background: url(../../../public/buttons/plants.png) no-repeat center center;
}

.plants:hover {
    background: url(../../../public/buttons/plants-hover.png) no-repeat center center;
    cursor: pointer;
}

.herbicides {
    background: url(../../../public/buttons/herbicide.png) no-repeat center center;
}

.herbicides:hover {
    background: url(../../../public/buttons/herbicide-hover.png) no-repeat center center;
    cursor: pointer;
}

.insects {
    background: url(../../../public/buttons/insects.png) no-repeat center center;
}

.insects:hover {
    background: url(../../../public/buttons/insects-hover.png) no-repeat center center;
    cursor: pointer;
}

.insecticides {
    background: url(../../../public/buttons/insecticide.png) no-repeat center center;
}

.insecticides:hover {
    background: url(../../../public/buttons/insecticide-hover.png) no-repeat center center;
    cursor: pointer;
}

.tools {
    background: url(../../../public/buttons/tools.png) no-repeat center center;
}

.tools:hover {
    background: url(../../../public/buttons/tools-hover.png) no-repeat center center;
    cursor: pointer;
}

.maintenance {
    background: url(../../../public/buttons/maintenance.png) no-repeat center center;
}

.maintenance:hover {
    background: url(../../../public/buttons/maintenance-hover.png) no-repeat center center;
    cursor: pointer;
}