.header {
    background-color: yellow;
    margin-top: -1.28%;
    margin-left: -1.28%;
    margin-right: -1.28%;
    margin-bottom: 0px;
    padding: 5px;
}

.slogan {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner {
    margin-top: 0px;
    margin-left: -1.28%;
    margin-right: -1.28%;
    margin-bottom: 10px;
    width: auto;
    height: 20cqw;
    min-height: 200px;
    background: url(../../../public/banner.webp) no-repeat center center;
    top: 0;
    background-size: cover;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-left: -.5%;
    margin-right: -.5%;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 11.8cqw;
    width: 11.8cqw;
    min-width: 120px;
    min-height: 120px;
    margin: 5px;
    transition: filter 0.2s ease-in-out;
    max-height: 300px;
    max-width: 300px;
}

.button-text {
    margin: 0;
    text-align: center;
    font-size: 1.8cqw;
    color: white;
    font-weight: 500;
}

hr {
    margin-left: -1%;
    margin-right: -1%;
}

.social-header {
    text-align: center;
    margin-top: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-basis: 99%;
}

.logo {
    width: 4cqw;
    height: 4cqw;
    min-width: 40px;
    min-height: 40px;
    margin: 0 10px;
}

/* Regular opacity is 85, Hover opacity is 70, Hex is #126832  */

.plants {
    filter: brightness(.9);
    background: url(../../../public/buttons/plants.png) no-repeat center center;
}

.plants:hover,
.plants:focus {
    filter: brightness(1.1);
    cursor: pointer;
}

.herbicides {
    filter: brightness(.9);
    background: url(../../../public/buttons/herbicide.png) no-repeat center center;
}

.herbicides:hover,
.herbicides:focus {
    filter: brightness(1.1);
    cursor: pointer;
}

.insects {
    filter: brightness(.9);
    background: url(../../../public/buttons/insects.png) no-repeat center center;
}

.insects:hover,
.insects:focus {
    filter: brightness(1.1);
    cursor: pointer;
}

.insecticides {
    filter: brightness(.9);
    background: url(../../../public/buttons/insecticide.png) no-repeat center center;
}

.insecticides:hover,
.insecticides:focus {
    filter: brightness(1.1);
    cursor: pointer;
}

.tools {
    filter: brightness(.9);
    background: url(../../../public/buttons/tools.png) no-repeat center center;
}

.tools:hover,
.tools:focus {
    filter: brightness(1.1);
    cursor: pointer;
}

.maintenance {
    filter: brightness(.9);
    background: url(../../../public/buttons/maintenance.png) no-repeat center center;
}

.maintenance:hover,
.maintenance:focus {
    filter: brightness(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .button-text {
        font-size: 13.5pt;
    }
}


@media screen and (max-width: 600px) {
    .header {
        margin-top: 0px;
        height: 50px;
    }

    .slogan {
        font-size: 30pt;
    }

    .banner {
        height: 275px;
        margin-bottom: 0px;
    }

    .buttons {
        width: 101%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        margin: 0px;
    }

    .button {
        max-width: none;
        max-height: none;
        height: 900px;
        width: 900px;
        margin-top: 40px;
    }

    .button-text {
        font-size: 96pt;
    }

    hr {
        margin-top: 35px;
    }

    .social-header {
        font-size: 40pt;
    }

    .logo {
        width: 100px;
        height: auto;
        margin: 0 20px;
    }

    .yt {
        margin-top: 13px;
    }

    .socials {
        margin-bottom: 40px;
    }

    .plants {
        background: url(../../../public/buttons/plants-hover.png) no-repeat center center;
    }

    .herbicides {
        background: url(../../../public/buttons/herbicide-hover.png) no-repeat center center;
    }

    .insects {
        background: url(../../../public/buttons/insects-hover.png) no-repeat center center;
    }

    .insecticides {
        background: url(../../../public/buttons/insecticide-hover.png) no-repeat center center;
    }

    .tools {
        background: url(../../../public/buttons/tools-hover.png) no-repeat center center;
    }

    .maintenance {
        background: url(../../../public/buttons/maintenance-hover.png) no-repeat center center;
    }
}