<h2 class="slogan">One stop shop for lawn information and recommendations.</h2>
<hr />
<div class="flex">
    <iframe height="100%" width="100%" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0"
        allowfullscreen></iframe>
    <div class="buttons">
        <div class="button">
            <p>test</p>
        </div>
        <div class="button">
            <p>test</p>
        </div>
        <div class="button">
            <p>test</p>
        </div>
        <div class="button">
            <p>test</p>
        </div>
        <div class="button">
            <p>test</p>
        </div>
        <div class="button">
            <p>test</p>
        </div>
    </div>
</div>
<hr />
<h2 class="social-header">Follow our socials</h2>
<div class="socials">
    <a href="https://www.youtube.com/yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img src="logos/youtube.svg" alt="YouTube" />
    </a>
    <a href="https://www.x.com/yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img src="logos/x.svg" alt="X" />
    </a>
    <a href="https://www.facebook.com/yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img src="logos/facebook.svg" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img src="logos/instagram.svg" alt="Instagram" />
    </a>
    <a href="https://www.tiktok.com/@yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img src="logos/tiktok.svg" alt="TikTok">
    </a>
</div>