<div class="header">
    <h2 class="slogan">Lawn Information and Recommendations.</h2>
</div>
<div class="banner">
</div>
<div class="buttons">
    <div class="button plants" (click)="onClick('plants')" (keyup.enter)="onClick('plants')" tabindex="0">
        <h2 class="button-text">Plants</h2>
    </div>
    <div class="button herbicides" (click)="onClick('herbicides')" (keyup.enter)="onClick('herbicides')" tabindex="0">
        <h2 class="button-text">Herbicides</h2>
    </div>
    <div class="button insects" (click)="onClick('insects')" (keyup.enter)="onClick('insects')" tabindex="0">
        <h2 class="button-text">Insects</h2>
    </div>
    <div class="button insecticides" (click)="onClick('insecticides')" (keyup.enter)="onClick('insecticides')"
        tabindex="0">
        <h2 class="button-text">Insecticides</h2>
    </div>
    <div class="button maintenance" (click)="onClick('maintenance')" (keyup.enter)="onClick('maintenance')"
        tabindex="0">
        <h2 class="button-text">Maintenance</h2>
    </div>
    <div class="button tools" (click)="onClick('tools')" (keyup.enter)="onClick('tools')" tabindex="0">
        <h2 class="button-text">Tools</h2>
    </div>
</div>
<hr />
<h2 class="social-header">Follow our socials</h2>
<div class="socials">
    <a href="https://www.youtube.com/yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img class="logo yt" src="logos/youtube.svg" alt="YouTube" />
    </a>
    <a href="https://www.x.com/yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img class="logo" src="logos/x.svg" alt="X" />
    </a>
    <a href="https://www.facebook.com/yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img class="logo" src="logos/facebook.svg" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img class="logo" src="logos/instagram.svg" alt="Instagram" />
    </a>
    <a href="https://www.tiktok.com/@yourlawnapp" target="_blank" rel="noopener noreferrer">
        <img class="logo" src="logos/tiktok.svg" alt="TikTok">
    </a>
</div>