.card {
    width: 100%;
    display: flex;
}

.card:hover,
.card:focus {
    background-color: #f0f0f0;
    cursor: pointer;
}

img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

h2 {
    font-size: 24pt;
    margin: 0px 0px 0px 10px;
}

h3 {
    margin: 0px 0px 10px 10px;
    color: #808080;
    font-size: 18pt;
    font-style: italic;
    opacity: 0.7;
    font-weight: 400;
}

.description {
    width: 98.5%;
    font-size: 14pt;
    margin: 0px 0px 5px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

hr {
    margin-bottom: 10px;
}