<ng-container *ngFor="let plant of plants">
    <div class="card" (click)="onCardClick(plant)">
        <div class="image-div">
            <img src="{{ plant.image }}" alt="{{ plant.name }}" class="plant-image" />
        </div>
        <div>
            <h2>{{ plant.name }}</h2>
            <h3>{{ plant.taxonomy }}</h3>
            <div class="description" [innerHTML]="plant.description"></div>
        </div>
    </div>
    <ng-container *ngIf="!isLast(plant)">
        <hr>
    </ng-container>
</ng-container>