h2,
h3 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #424242;
    font-style: italic;
    opacity: 0.7;
    font-weight: 400;
}

.image {
    width: 250px;
    height: 250px;
    border: solid 1px black;
}

.description {
    margin-top: 0px;
    margin-right: 15px;
}

.legend {
    background-color: #eeeeee;
    margin-top: 15px;
    width: fit-content;
    border: solid 1px black;
    font-size: 10pt;
}

.legend-title {
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 5px 0px;
}

ol {
    counter-reset: list;
    margin: 0px;
    padding: 0px 0px 0px 25px;
}

ol>li:before {
    content: counter(list) " ";
    counter-increment: list;
    margin-left: -1.2em;
}

li {
    margin: 8px 0px;
    list-style: none;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

.no-insect {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.back-arrow {
    width: 50px;
    height: auto;
    position: absolute;
}

.back-arrow:hover {
    cursor: pointer;
}

h4 {
    font-size: 16pt;
    margin: 10px 0px 0px;
}

hr {
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 10px;
    }

    .back-arrow {
        width: 75px;
    }

    h2 {
        margin-top: 5px;
        width: 100%;
        font-size: 28pt;
    }

    h3 {
        width: 100%;
        font-size: 22pt;
    }

    .description {
        font-size: 14pt;
    }

    .image {
        width: 350px;
        height: 350px;
    }

    .legend {
        display: none;
    }

    h4 {
        font-size: 21pt;
    }
}

/* 
::ng-deep .description a {
    text-decoration: none !important;
} */