<p>In Canada we get a 7-8 month window for our lawns on average. Below you will find a schedule outline you should
    follow
    during the warmer seasons in order to guarentee a healthy and happy lawn.</p>
<h2>Lawn Prep (March - April)</h2>
<p>Once the ground has dried out enough, you should prepare your lawn for seeding by doing the following:</p>
<ul>
    <li>Begin weeding your lawn and looking for insects on a semi-regular basis.</li>
    <li>Dethatch your lawn to remove dead grass trapped within.</li>
    <li>Aerate your lawn to loosen up the soil to promote better root growth for your grass.</li>
    <li>Fertilize your lawn to stimulate more growth. (Please wait at least 2 weeks before seeding after fertilizing)
    </li>
</ul>
<h2>Spring Seeding (May - June)</h2>
<p>Once the temperature is consistently between 15°C and 24°C you should overseed your lawn.</p>
<h2>Mid-Summer Fertilization (July - August)
    <span style="color: #808080; font-weight: 500;">*Optional</span>
</h2>
<p>8 weeks after you seed, you may want to consider fertilizing your lawn again to ensure your grass has all the
    nutrients it needs.</p>
<h2>Fall Fertilization (September - October)
</h2>
<p>To strengthen your lawn before the winter weather, fertilize your lawn to provide a surplus of nutrients.
</p>
<h2>Fall Seeding (September - October)
</h2>
<p>2 weeks after fall fertilization, seed your lawn once more to let new grassroots develop before winter
    sets in.
</p>
<hr>
<h2>Lawn Mowing Tips</h2>
<ul>
    <li>Never cut your grass shorter than 3 inches in height.</li>
    <li>If your property gets a lot of sun, consider leaving your grass clippings on your lawn.</li>
    <li>If your property has a lot of shade, consider bagging your grass clippings up.</li>
</ul>